<%= form_for @mentor, :html => { :class => "form-horizontal mentor" } do |f| %>

  <% if @mentor.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@mentor.errors.count, "error") %> prohibited this mentor from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @mentor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :sex, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sex, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sex) %>
  </div>
  <div class="form-group">
    <%= f.label :age, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :age, :class => 'form-control' %>
    </div>
    <%=f.error_span(:age) %>
  </div>
  <div class="form-group">
    <%= f.label :bio, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :bio, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bio) %>
  </div>
  <div class="form-group">
    <%= f.label :DOB, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :DOB, :class => 'form-control' %>
    </div>
    <%=f.error_span(:DOB) %>
  </div>
  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :image, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                mentors_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
